<h2> <%= @student.user_name %>'s Profile </h2>
<h3> view your hobbies and classpassese here</h3>

<% @student.offers.each do |offer| %>
    <li>Class Pass Offer: <%= offer.name %></li>
    <li>Price: $<%= offer.price %></li>
  <% end %>
